*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	font-size: 100%;
	font-family: 'Titillium Web';
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*Home_block*/
.home_block {
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 596px;
	background-color: #87509c;
}
.home_block__container {
	width: 1034px;
	height: 100%;
}
.header {
	display: flex;
	justify-content: space-between;
}
.home__logo {
	margin-top: 57px;
}
.home__nav a {
	padding: 10px 17px;
	border-radius: 5px;
	text-align: center;
	margin-left: 10px;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.13;
	color: #fff;
}
.home__nav a:hover {
	background-color: #643a79;
}
.home__nav {
	margin-top: 70px;
}
.home__text {
	margin-top: 147px;
	font-size: 38px;
	font-weight: bold;
	line-height: 1.15;
	text-align: center;
	color: #f7f3ea;
}
.home__button {
	display: flex;
	justify-content: center;
}
.home__button a {
	display: block;
  	width: 289px;
  	height: 70px;
  	text-align: center;
  	border-radius: 5px;
  	font-size: 17.5px;
  	font-weight: 600;
   	letter-spacing: 0.35px;
   	margin-top: 45px;
   	padding: 28px 0 28px;
  	color: #fff;
  	background-color: #EC7E4A;
  	box-shadow: 0 4px 0 #C96A3E;
}
.home__button a:active {
	box-shadow: none;
	margin-top: 49px;
}

/*SERVICES*/
.services {
	width: 100vw;
	height: 747px;
	background-color: #17c2a4;
	display: flex;
	justify-content: center;
	color: #fff;
	overflow: hidden;
}
.services_container {
	width: 1031px;
}
.services__title {
	font-size: 40px;
	line-height: 29px;
	font-weight: 700;
	letter-spacing: 0.1em;
	margin-top: 115px;
	text-align: center;
}
.sercices__subtitle-line {
	width: 87px;
	height: 4px;
	opacity: 0.14;
	background-color: #000;
	margin: 21px auto 0;
}
.services__subtitle {
	width: 605px;
	font-size: 18px;
	line-height: 26px;
	letter-spacing: 0.02em;
	margin: 20px auto 0;
	text-align: center;
}
.services__list {
	display: flex;
	margin-top: 75px;
}
.services__list__element {
	margin-left: 90px;
}
.services__list__element-first {
	margin-left: 0;
}
.services__list__element-second h2 {
	margin-top: 53px;
}
.services__list__element-fourth h2 {
	margin-top: 50px;
}
.services__list__image {
	display: block;
	margin: 0 auto 0;
}
.services__list__title {
	margin-top: 60px;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	text-align: center;
	white-space: nowrap;
}
.services__list__desc {
	margin-top: 25px;
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	letter-spacing: 0.02em;
	text-align: center;
}
/*TEAM*/
.team {
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 914px;
	background-color: #e7f1f8;
	color: #3c4761;
}
.team__container {
	width: 1029px;
}
.team__title {
	margin-top: 115px;
	font-size: 41.3px;
	line-height: 30px;
	font-weight: 700;
	letter-spacing: 0.1em;
	text-align: center;
}
.team__subtitle_line {
	margin: 20px auto 22px;
	width: 87px;
	height: 4px;
	background-color: #C9DAE6;
}
.team__subtitle {
	font-size: 18.6px;
	line-height: 26px;
	letter-spacing: 0.02em;
	text-align: center;
}
.team__list {
	display: flex;
	justify-content: center;
	margin-top: 76px;
	text-align: center;
}
.team__list__element {
	margin-left: 80px;
}
.team__list__element_first {
	margin-left: 0;
}
.team__list__title {
	margin-top: 41px;
	font-size: 24px;
	line-height: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.02em;
}
.team__list__subtitle {
	margin-top: 15px;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0.02em;
	color: #30bae7;
}
.team__list__desc {
	margin-top: 24px;
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	letter-spacing: 0.02em;
}
.team__list__links {
	margin-top: 30px;
}
.team__list__links a {
	margin-left: 10px;
}

/*SKILLS*/
.skills {
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 655px;
	color: #3c4761;
	text-align: center;
}
.skills__container {
	width: 1000px;
}
.skills__title {
	margin-top: 115px;
	font-size: 40px;
	line-height: 29px;
	font-weight: 700;
	letter-spacing: 0.1em;
}
.skills__subtitle-line {
	margin: 20px auto 20px;
	width: 87px;
	height: 4px;
	background-color: #dfe8ed;
}
.skills__subtitle {
	font-size: 18px;
	line-height: 26px;
	letter-spacing: 0.02em;
	width: 570px;
	margin: 0px auto 81px;
}
.skills__list {
	display: flex;
	justify-content: center;
}
.skills__list__element {
	margin-left: 115px;
}
.skills__list__element__first {
	margin-left: 0;
}
.skills__list__element__title {
	white-space: nowrap;
	margin-top: 30px;
	font-size: 24px;
	line-height: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.02em;
}

/*PORTFOLIO*/
.portfolio {
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 1423px;
	background-color: #ffdd99;
	text-align: center;
	color: #393939;
}
.portfolio__container {
	width: 1100px;
}
.portfolio__title {
	margin-top: 116px;
	font-size: 40px;
	line-height: 29px;
	font-weight: 700;
	letter-spacing: 0.1em;
}
.portfolio__subtitle_line {
	margin: 19px auto 0;
	width: 87px;
	height: 4px;
	background-color: #e5c37f;
}
.portfolio__subtitle {
	width: 520px;
	margin: 20px auto 40px;
	font-size: 18px;
	line-height: 26px;
	letter-spacing: 0.02em;
}
.portfolio__links_list {
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 19px;
	letter-spacing: 0.02em;
}
.portfolio__links_list a {
	color: #393939;
}
.portfolio__link {
	display: block;
	width: 84px;
	height: 38px;
	line-height: 38px;
	border-radius: 4px;
	background-color: rgba(0,0,0,0.07);
	text-align: center;
	margin: 0 0 60px 10px;
}
.portfolio__link-first {
	background-color: #fff;
	color: #393939;
	margin-left: 0;
}
.portfolio__link:hover {
	background-color: #fff;
	color: #393939;
}
.portfolio__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.portfolio__list__element__title {
	margin-top: 30px;
	font-size: 18px;
	line-height: 19px;
	text-transform: uppercase;
	letter-spacing: 0.02em;
}
.portfolio__list__element__last-row {
	margin-top: 61px;
}
.portfolio__link-button a {
	display: block;
	font-size: 18px;
	line-height: 66px;
	font-weight: 600;
	letter-spacing: 0.02em;
	color: #ffffff;
	width: 293px;
	height: 66px;
	background-color: #17c2a4;
	border-radius: 5px;
	margin: 80px auto 0;
	box-shadow: 0 4px 0 #0CA68D;
}
.portfolio__link-button a:active {
	box-shadow: none;
	margin-top: 84px;
}

/*REVIEWS*/
.reviews {
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 894px;
	background-color: #d74680;
	color: #fff;
}
.reviews__container {
	width: 1099px;
}
.reviews__title {
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-align: center;
	margin-top: 114px;
}
.reviews__subtitle-line {
	width: 87px;
	height: 4px;
	background-color: #B93C6E;
	margin: 17px auto 20px;
}
.reviews__subtitle {
	font-size: 18px;
	letter-spacing: 0.02em;
	text-align: center;
}
.reviews__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.reviews__list__element {
	display: flex;
	width: 45%;
}
.reviews__list__element__text {
	margin-left: 46px;
}
.reviews__list__element__review {
	font-size: 21px;
	line-height: 31px;
	font-style: italic;
	letter-spacing: 0.02em;
}
.reviews__list__element__name {
	font-size: 24px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	margin: 25px 0 7px;
}
.reviews__list__element__role {
	font-size: 18px;
	line-height: 26px;
	letter-spacing: 0.02em;
	color: #ffdd99;
}
.reviews__list__element_first-row {
	margin: 80px 0 135px;
}
/*CONTACT*/
.contact {
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 819px;
	background-color: #3c5499;
	color: #fff;
}
.contact__container {
	width: 860px;
}
.contact__title {
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-align: center;
	margin-top: 115px;
}
.contact__subtitle-line {
	margin: 18px auto 21px;
	width: 87px;
	height: 4px;
	background-color: #273a71;
}
.contact__subtitle {
	margin-bottom: 73px;
	font-size: 18px;
	letter-spacing: 0.02em;
	text-align: center;
}
.contact form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.contact__input {
	background-color: #273a71;
}
.contact__name-input,
.contact__email-input {
	width: 414px;
	height: 56px;
	margin-bottom: 27px;
	padding: 0 23px 0;
}
.contact__message-input {
	width: 860px;
	height: 200px;
	padding: 22px 23px 22px;
	resize: none;
}
.contact__input,
.contact__input::placeholder {
	font-size: 18px;
	line-height: 18px;
	color: #ffffff;
}
.contact__submit-button {
	margin: 57px auto;
	width: 293px;
	height: 66px;
	background-color: #30bae7;
	font-size: 18px;
	line-height: 66px;
	font-weight: 600;
	letter-spacing: 0.02em;
	color: #ffffff;
	box-shadow: 0 4px 0 #299EC5;
	border-radius: 4px;
}
.contact__submit-button:active {
	box-shadow: none;
	margin-top: 61px;
}
.footer {
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 112px;
	background-color: #344b8e;
}
.footer__container {
	width: 938px;
}
.footer__links_list {
	display: flex;
	justify-content: space-between;
	padding-top: 44px;
}
.footer__links_list a {
	font-size: 24px;
	line-height: 29px;
	font-weight: 600;
	letter-spacing: 0.02em;
	color: #ffffff;
}
.footer__links_list a:hover {
	color: #30bae7;
}